.side-all
  .side-header
    .side-items
      .side-items__name
        = current_user.name
      .side-items__icons
        = link_to new_group_path do
          %i.fa.fa-edit
        =link_to edit_user_path(current_user) do
          %i.fa.fa-cog

  .side-contents
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。
  
