.side-all
  .side-header
    .side-items
      .side-items__name
        %p kei
      .side-items__icons
        =link_to "#" do
          %i.fa.fa-edit
        =link_to "#" do
          %i.fa.fa-cog

  .side-contents
    .side-contents__center
      %p techcamp
    .side-contents__messages
      %p まだメッセージがありません
  
